* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
} 
:root {
    --dark: #2e2e2e;
    --light: #686868;
}
body {
    background-color:#106691;
    color: var(--light);
}
h1 {
    text-align: center;
    color: var(--dark);
    font-size: 200%;
}
h3 {
    text-align: center;
    color: rgba(0, 0, 0, 0.70);
    font-size: large;
    margin-top: 20px;
}
p {
    text-align: justify;
}
.timeline-txt {
    text-align: center;
}
img {
    display: block;
    width: max(40%, 150px);
    margin: 1rem auto;
}
img.left {
    width: max(150px,20%);
    margin: 0;
    border-radius: 5px;
    float: left;
    padding: 0 10px 10px 0;
}
img.right {
    width: max(150px,20%);
    margin: 0;
    border-radius: 5px;
    float: right;
    padding: 0 0 10px 10px;
}
a {
    color: var(--light);
}
a:hover {
    text-decoration: none;
}
header {
    font-size: 24px;
    background-image: url("kotta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(97, 126, 141);
    /*width:100%;*/
    height: 16rem;
    margin: 0px;
    
}
header #darkener {
    background-color: rgba(0,0,0,0.3);
    height: 16rem;
    width: 100%;
    position: absolute;
}
header #home {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    left: 0;
    color: white;
}
nav {
    width: 80%;
    position: absolute;
    right: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
nav ul li {
    height: 2rem;
}
nav ul li a {
    text-decoration: none;
    color: white;/*darkred;*/
    cursor: pointer;
    user-select: none;
}
nav ul li a:hover {
    border-bottom: 3px solid teal;
}
nav #burger {
    height: 3rem;
    width: 3rem;
    position: absolute;
    right: 0;
    display: none; /*mobilos médián beállítjuk hogy flex*/
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: rgb(97, 126, 141);
    border-bottom-left-radius: 1rem;
}
nav #burger div {
    height: 5px;
    width: 60%;
    margin: 0 auto;
    background-color: white;
}

section {
    background-color: whitesmoke;
    width: 60%;
    position: relative;
    top: -9rem;
    border-radius: 5px;
    margin: 0 auto 50px;
    padding: 20px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    text-align: center;
}

#intro {
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

#intro h3 {
    text-align: left;
}
#profile {
    width: 40%;
    padding: 0 20px 20px 0;
    box-sizing: border-box;
}

#profile img {
    width: 100%;
    border-radius: 5px;
}
#details {
    width: 60%;
    box-sizing: border-box;
}

#details h1 {
    text-align: left;
}

#details dl {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.7rem;
}

#details dl dt {
    width: 35%;
    font-weight: bold;
}
#details dl dd {
   
    width: 65%;
}

#about h1 {
    margin: 0 0 20px;
}
#about h2 {
    color: var(--dark);
    font-size: 150%;
    margin-bottom: 1rem;
}
#about p {
    margin-bottom: 1rem;
}
#about .highlight {
    font-weight: bold;
    color: var(--dark);
}

#school dt {
    font-weight: bold;
    margin-top: 10px;
}
#work dt {
    font-weight: bold;
    margin-top: 10px;
}
#work dt {
    font-weight: bold;
    margin-top: 10px;
}
#interest dt {
    font-weight: bold;
    margin-top: 10px;
}
#timeline { /*nem a timeline element, hanem a section ami tartalmazza a timeline-t */
    box-shadow: none;
    background-color: transparent;
}
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
  
  /* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
  
/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
  
/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #106691;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
  
/* Place the container to the left */
.left {
    left: 0;
}
.left .content {
    box-shadow: -1px 1px 1px rgba(0,0,0,0.3);
}

/* Place the container to the right */
.right {
    left: 50%;
}
.right .content {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}


/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: "";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 0.5rem;
    background-color: white;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
}

footer {
    position: static;
    margin-left: auto;
    margin-right: auto;
}
footer .social {
    height: 24px;
    width: 24px;
}
footer .social svg {
    stroke: #fff;
}
footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
footer ul li {
    margin-bottom: 1rem;
}
footer ul li a {
    text-decoration: none;
    color: white;/*darkred;*/
    cursor: pointer;
    user-select: none;
}
footer ul li a:hover {
    border-bottom: 3px solid teal;
}

/* Ha számítógépen szűkebb az ablakméret */
@media screen and (max-aspect-ratio: 3/2) {
    /* Profilkép és adatok egymás alá */
    #profile {
        width: 100%;
        margin: 0 auto;
        padding-right: 0;
    }
    #details {
        width: 100%;
        margin: 0 auto;
    }
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

/* Hogyha érintős eszközön nyílik meg az oldal */
@media (pointer:coarse) , (max-aspect-ratio: 1/1) {
    /* menü összecsukása mobilhoz */
    nav {
        width: 100%;
        margin: 0 auto;
        z-index: 10000;
        background-color: rgba(0,0,0,0.9);
        position: fixed;
        /*min-height: 4rem;
        box-shadow: 0 0 10px 10px rgba(0,0,0,0.9);*/
    }
    nav #burger {
        display: flex;
    }
    nav ul {
        display: none;
        text-align: center;
        padding-top: 4rem;
        height: 100vh;
    }
    nav ul li {
        height: 5rem;
        line-height: 5rem;
        font-size: 160%;
    }
    section {
        width: 95%;
        top: -11rem; /* ezelőtt -9 volt beállítva */
    }
    #profile {
        padding-right: 0;
        width: 100%;
    }
    #details {
        width: 100%;
    }
}