* {
    padding: 0;
    margin: 0;
    border: 0;
}
:root {
    --dark: #2e2e2e;
    --light: #686868;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    font-size: 16px;
    color: var(--light);
    font-family: 'Roboto', sans-serif;
    background-color: #d1d1d1;
}
h1 {
    text-align: center;
    color: var(--dark);
    font-size: 200%;
}
.content {
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);
}
header {
    height: 16rem;
    background-color: rgb(19, 54, 54);
}
header #home img {
    height: 64px;
    width: 64px;
    display: block;
    float: left;
}
nav {
    width: 80%;
    float: right;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
nav ul li a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    border-bottom: 3px solid teal;
}
section {
    width: 60%;
    position: relative;
    top: -9rem;
    margin: 0 auto 3rem;
}
#intro {
    background: white;
    display: flex;
    flex-wrap: wrap;
}
#profile {
    width: 40%;
    padding: 1rem;
    box-sizing: border-box;
}
#profile img {
    width: 100%;

}
#details {
    padding: 1rem;
    width: 60%;
    box-sizing: border-box;
}
#details h1 {
    text-align: left;
}
#details dl {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}
#details dl dt {
    line-height: 1.5rem;
    font-weight: bold;
    width: 35%;
}
#details dl dd {
    width: 65%;
}
