@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora:ital,wght@0,400;0,600;1,400&display=swap');
* {
    margin:0;
    padding:0;
    border:0;
}

body {
    background-color:  rgb(29, 29, 110);
    /*filter: blur(8px);*/
    font-family: 'Lora', serif;
}


header {
    font-size: 24px;
    background-image: url("/fecske/fecske-drot.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
    height: 10rem;
    margin: 0;
}

header #home {
    position: absolute;
    left: 0;
    left: 10px;
    font-family: 'Dancing Script', cursive;
}

header #home a{
    font-size: 24px;
    list-style: none;
    text-decoration: none;
    color:black;
}
header #home a:hover {
    /*border-bottom: 2px solid teal;*/
    /*font-size: 30px;*/
    text-shadow: 1px 1px black;
}
nav {
    width: 60%;
    position: absolute;
    right: 0;
    border: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    /*border-bottom: 2px solid teal;*/
    /*font-size: 30px;*/
    text-shadow: 1px 1px black;
}
footer {
    height: 5rem;
    background-color: black;
    color:mintcream;
    display: flex;
    justify-content: space-evenly;
    border-top:2px solid teal;
    margin: 0 auto;
}

.footer {
    background-color: transparent;
    width: 100%;
}
                h2 {
                    text-align: center;
                }
section#timeline {/*nem a timeline element, hanem a section ami tartalmazza a timeline-t */
    position: relative;
    width: 90%;
    margin: 0 auto;
    top: -2rem;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: transparent;
    text-align: center;
}
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    /*max-width: 1200px;*/
    margin: 0 auto;
}
  
  /* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    /*margin-left: -3px;*/
}
  
/* Container around content */
.container {
    padding: 10px 40px;
    box-sizing: border-box;
    position: relative;
    background-color: inherit;
    width: 50%;
}
  
/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -19.5px; /* (25-px-width + 2*4-px-border)/2 + 6-px-timeline-line-width/2 */
    background-color: white;
    border: 4px solid #106691;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
  
/* Place the container to the left */
.left {
    left: 0;
}
.left .content {
    box-shadow: -1px 1px 1px rgba(0,0,0,0.3);
}

/* Place the container to the right */
.right {
    left: 50%;
}
.right .content {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}


/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
    box-sizing: border-box;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: "";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    box-sizing: border-box;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -14.5px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
      .timeline::after {
        left: 31px;
      }
    
    /* Full-width containers */
      .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
      }
    
    /* Make sure that all arrows are pointing leftwards */
      .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
    
    /* Make sure all circles are at the same spot */
      .left::after, .right::after {
        left: 15px;
      }
    
    /* Make all right containers behave like the left ones */
      .right {
        left: 0%;
      }
    }