@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora:ital,wght@0,400;0,600;1,400&display=swap');
* {
    margin:0;
    padding:0;
    border:0;
}

body {
    background-color:  rgb(29, 29, 110);
    /*filter: blur(8px);*/
    font-family: 'Lora', serif;
}


header {
    font-size: 24px;
    background-image: url("/fecske/fecske-drot.jpg");   
    background-color: royalblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
    height: 10rem;
    margin: 0;
}

header #home {
    position: absolute;
    left: 0;
    left: 10px;
    font-family: 'Dancing Script', cursive;
}

header #home a{
    font-size: 24px;
    list-style: none;
    text-decoration: none;
    color:black;
}
header #home a:hover {
    /*border-bottom: 2px solid teal;*/
    /*font-size: 30px;*/
    text-shadow: 0.2px 0.2px black;
}
nav {
    width: 60%;
    position: absolute;
    right: 0;
    border: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    /*border-bottom: 2px solid teal;*/
    /*font-size: 30px;*/
    text-shadow: 0.2px 0.2px black;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 20px 20px;
    margin: 0 auto;
}
#jel,
#proba {
    width: 20%;
}
#map {
    margin: 20px 0;
}
section {
    background-color: whitesmoke;
    position: relative;
    width: 40%;
    top: -2rem;
    padding: 20px 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
section h1 {
    margin: 10px 10px 30px;
    text-align: center;
}

section p {
    padding: 20px;
}

footer {
    margin: 0 auto;
    height: 5rem;
    background-color: black;
    color:mintcream;
    border-top:2px solid teal;
    text-align: center;
}
