* {
    margin:0;
    padding:0;
    border:0;
}

body {
    background-color: whitesmoke;
    /*filter: blur(8px);*/
    background-image: url("/fecske/fecske-drot.jpg");
    background-size: cover;
    margin:0;
}

header {
    font-size: 24px;
    /*background-image: url("/fecske/fecske-drot-ff3.jpg");*/
    background-color: rgb(29, 29, 110);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
    height: 10rem;
    margin: 0;
}

header #home {
    position: absolute;
    left: 0;
    border: dotted yellow;
}

header #home a {
    font-size: 24px;
    list-style: none;
    text-decoration: none;
    color:black;
}
header #home a:hover {
    border-bottom: 2px dotted teal;
}
nav {
    width: 60%;
    position: absolute;
    right: 0;
    border: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    border-bottom: 2px dotted teal;
}
#parent {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    outline: 1px solid red;
    display: grid;
    place-items: center;
    background-color: rgba(0,0,0,0.7);
}
.box-intro {
    outline: 1px solid green;
    font-size: 64px;
    color: mintcream;
}
#body-img {
    width: 100%;
    height: 100%;
}
#random-content {
    margin: 0;
    border: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(224, 212, 212);
}
.button {
    place-items: center;
}

footer {
    margin: 0;
    border: 0;
    padding: 0;
}
 footer p {
    text-align: center;
    color: darkblue;
 }
